decorator==5.0.9
Django==3.2.14
django-cors-headers==3.7.0
django-filter==2.4.0
djangorestframework==3.12.4
drf-spectacular==0.17.0
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
mysqlclient==2.0.3
numpy==1.20.3
pandas==1.2.4
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.23.2
scipy==1.6.3
statsmodels==0.12.2
yapf==0.31.0
